.todoprodutos {
    display: flex;
    gap: 80px;
    margin-bottom: 100px;
    flex-wrap: wrap;
    align-items: center;
    display: flex;
    
    justify-content: center;
    justify-items: center;
    margin: auto;
    
}

.todos {

}